h1 {
  text-align: center;
  padding: 5%;
  /*padding-bottom: 60px;*/
  /*padding-top: 5%;*/
}

input[type="text"] {
  font-family: "roboto", sans-serif;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 10%;
  border-bottom: 2px solid lightblue;
  box-shadow: none;
}
input[type="text"]::placeholder {
  color: darkgray;
}

input[type="text"]:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
