@font-face {
  font-family: "UT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/UTSansExtended-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* margin: 10px; */
  font-family: "UT Sans", sans-serif;
  font-size: 1rem !important;
}

h1 {
  font-family: "UT Sans", sans-serif !important;
  color: #666666 !important;
}

h2 {
  font-family: "UT Sans", sans-serif !important;
}

h3 {
  font-family: "UT Sans", sans-serif;
}

h4 {
  font-family: "UT Sans", sans-serif;
}

h5 {
  font-family: "UT Sans", sans-serif;
}

h6 {
  font-family: "UT Sans", sans-serif;
}

/*
  override pentru a putea afisa ok imaginile din anunturi
*/
img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(0.3 * 100vh);
  height: auto;
}

/*override la css-uri din DNN*/
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/*suprascriem semantic.ui-ul sa aiba default fontul UT Sans"*/
.ui {
  font-family: "UT Sans", sans-serif !important;
}

.grid {
  border: 0 !important;
}

#MainWrapper {
  max-width: 1920px !important;
}

.spd-row {
  max-width: 1720px !important;
}

/*override necesar ca modalele sa nu o mai ia razna in DNN*/
.modal {
  top: auto !important;
  bottom: auto !important;
  right: auto !important;
  left: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

/*override necesar pentru calendar*/

/* titlu calendar */
.fc .fc-toolbar-title {
  font-size: 1em !important;
}

/* style butoane */
.fc .fc-button {
  padding: 0.4em 0.4em !important;
  background-color: #e0e1e2 !important;
  border: none !important;
  color: #000006 !important;
  margin: 0 !important;
  opacity: 0.6 !important;
}

.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
  padding: 0 !important;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
  text-align: left;
  font-size: 1.1rem !important;
}

.ui.card .content img,
.ui.cards > .card .content img {
  display: flex;
}

html {
  font-size: 15px !important;
}

.ui.segment {
  margin: .5rem 0 !important;
}